<p>
  product list works!
</p>
<div class="card">
            <div class="card-header card-header-large bg-white">
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> All </option>
                  <option> Active Products </option>
                  <option> Inactive Products </option>
                  <option> Low stock Products </option>
                  <option> No Stock </option>
                  <option> Expired </option>
                  <option> Non- returnable </option>
                  <option> Returnable </option>
                </select>
              </div>
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> All </option>
                  <option> Re-Purchase </option>
                  <option> First Purchase </option>
                </select>
              </div>
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> Catrgory </option>
                  <option> demo </option>
                  <option> demo </option>
                </select>
              </div>
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> Display </option>
                  <option> 10 </option>
                  <option> 50 </option>
                </select>
              </div>
              <a href="new-product.html" class="btn btn-success ml-3"><span>+</span>&nbsp; New</a>
            </div>
            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">
              <table class="table mb-0 thead-border-top-0">
                <thead>
                  <tr class="selected">
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Product ID</th>
                    <th>CRP</th>
                    <th>BV</th>
                    <th>Stock</th>
                    <th>Type</th>
                    <th>Status</th>  
                  </tr>
                </thead>
                <tbody class="list" id="staff">
                  <tr class="selected">
                    <td><a href="add-product-form.html"><i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">collections</i></a></td>
                    <td>Name</td>
                    <td>id</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>First Purchase</td>
                    <td>Active</td>
                  </tr>
                  <tr class="selected">
                    <td><a href="add-product-form.html"><i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">collections</i></a></td>
                    <td>Name</td>
                    <td>id</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>First Purchase</td>
                    <td>Inactive</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body text-right"> 15 <span class="text-muted">of 1,430</span> <a href="#" class="text-muted-light"><i class="material-icons ml-1">arrow_forward</i></a> </div>
          </div>