<p>
orders works!
</p>
<div class="card">
            <div class="card-header card-header-large bg-white">
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> All </option>
                  <option> Pending </option>
                  <option> Confirmed </option>
                  <option> Packed </option>
                  <option> Shipped </option>
                  <option> Drop shipped </option>
                  <option> Delivered </option>
                  <option> Fullfilled </option>
                  <option> Approved </option>
                  <option> On hold </option>
                  <option> Rejected </option>
                </select>
              </div>
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> All </option>
                  <option> Re-Purchase </option>
                  <option> First Purchase </option>
                </select>
              </div>
              <div class="form-group">
                <select id="select02" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                  <option> View </option>
                  <option> 10 </option>
                  <option> 50 </option>
                </select>
              </div>
            </div>
            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">
              <table class="table mb-0 thead-border-top-0">
                <thead>
                  <tr class="selected">
                    <th>Serial Number</th>
                    <th>Images</th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>User Details</th>
                    <th>Total</th>
                    <th>Status</th> 
                  </tr>
                </thead>
                <tbody class="list" id="staff">
                  <tr class="selected">
                    <td>01</td>
                    <td><a href="product-edit.html"><i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">collections</i></a></td>
                    <td>001</td>
                    <td>19/04/2019</td>
                    <td>0</td>
                    <td>0</td>
                    <td><div class="form-group">
                  <select id="select_dis" name="select_dis" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                    <option> Pending </option>
                    <option> Conﬁrmed </option>
                    <option> Packed </option>
                    <option> Shipped </option>
                    <option> Drop shipped </option>
                    <option> Delivered </option>
                    <option> On hold </option>
                    <option> Reject </option>
                  </select>
                </div></td>
                  </tr>
                  <tr class="selected">
                    <td>01</td>
                    <td><a href="product-edit.html"><i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">collections</i></a></td>
                    <td>001</td>
                    <td>19/04/2019</td>
                    <td>0</td>
                    <td>0</td>
                    <td><div class="form-group">
                  <select id="select_dis1" name="select_dis" data-toggle="select" data-minimum-results-for-search="-1" class="form-control">
                    <option> Pending </option>
                    <option> Conﬁrmed </option>
                    <option> Packed </option>
                    <option> Shipped </option>
                    <option> Drop shipped </option>
                    <option> Delivered </option>
                    <option> On hold </option>
                    <option> Reject </option>
                  </select>
                </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body text-right"> 15 <span class="text-muted">of 1,430</span> <a href="#" class="text-muted-light"><i class="material-icons ml-1">arrow_forward</i></a> </div>
          </div>